  Chijioke E. Kamanu 
  @02840667
  Software Engineering, Individual Assignment #1


*****   REQUIREMENTS   *****
1. Proper formatting of the text file based on selected user margins
2. Display listing of the edited text
3. Saved copy of the edited text in same directory
4. Input data containing the file to be edited and desired margins


*****   ASSUMPTIONS   *****
1. The user selects margin widths in terms of character spaces. The conversion factor from spaces to inches us 
              1 character (X) = 0.0833333333333331 inch [in]
2. The program works on the basis that font styles take up one character space per character.
3. The maximum input line is 80 characters long.
4. Words are separated by one blank.
5. The margin specifications will always allow for at least one word to be displayed(approximately 10 characters).
6. The input will only have one paragraph.
7. The program will be developed iteratively as new edge cases unfold, hence it currently cannot gracefully handle
   all margin specifications. :)

